body {
    font-family: sans-serif;
    line-height: 1.5;
  
    background-color: #81ecec;
    color: #333333;
  
    width: 980px;
    margin: 0 auto;
  }
  
  h1 {
    background-color: #74b9ff;  
    text-align: center;
    font-size: 36px;
    margin-bottom: 0;
    margin-left: 80px;
    margin-right: 80px;
    padding: 20px;
    border-radius: 20px;
  }
  
  main > h2 {
    text-align: center;
    font-size: 25px;
  }